@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

$textSize: 1.21em;

$magenta: #be2ffe;
$purle: #4D24E3;
$blue: #40ADFA;
$green: #41FADA;
$bs-gray-dark: #343a40;
$hover: rgba(64, 173, 250, 0.2);
$blueHover: rgb(53, 139, 201);

