
.container-three {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: ghostwhite;
    overflow-x: hidden;
}

.three-text-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
}

.three-text-content h1 {
    font-size: 3.9rem;
    text-transform: uppercase;
    margin-bottom: 0.8em;
    font-weight: 400;
    margin-bottom: 0.7em;
}

.three-text-content p {
    font-size: 1.7rem;
}

.canvas-container {
    width: 60%;
}