@import "~normalize.css/normalize.css";
@import "~bootstrap/scss/bootstrap";
@import "modelViewer";
@import "base";
@import "nav";
@import "polycam";
@import "documentation.scss";

body {
  font-family: "Montserrat", sans-serif;
  font-weight: light;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

p {
  font-size: $textSize;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Serif", sans-serif;
}

h1 {
  color: $purle;
  font-size: 7vh;
  line-height: 1;
}

h2 {
  font-size: 2em;
}

h2,
h5 {
  color: $magenta;
}

.blue-btn {
  background-color: $blue;
  border: 1px solid $blue;
}

.blue-outline {
  border: 1px solid $blue;
  color: $blue;
  &:hover {
    background-color: $hover;
    color: black;
  }
}

.blue-btn-active {
  background-color: $blue;
  color: white;
}

.magenta-btn {
  background-color: $magenta;
  border: 1px solid $magenta;
}

.magenta-outline {
  border: 1px solid $magenta;
  color: $magenta;
  &:hover {
    background-color: $hover;
    color: black;
  }
}

.main {
  margin-top: 3em;
}

#container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#heading-text {
  position: absolute;
  z-index: 99;
  background-image: linear-gradient(120deg, rgba(190, 47, 254, 0.95), rgba(64, 173, 250, 0.95));
  //padding: 0.5em;
  border-radius: 0.25rem;
  color: white;

  h1 {
    color: white;
  }
}

ul {
  list-style-type: none;
}

.list-heading {
  font-size: 2em;
}

.text-pos {
  font-size: $textSize;
}

.webgl {
  display: flex;
  height: 100vh;
  flex: 1;
  align-items: center;
  overflow: hidden;
}

.bi {
  font-size: 2em;
}

.demo2 {
  font-size: 23px;
}

.main-heading {
  font-size: 3em;
}

/*FRONT PAGE*/

#about {
  p {
    font-size: $textSize;
  }

  h2 {
    text-align: center;
  }
  .bi {
    font-size: 4em;
    align-self: center;
  }
}

#home-container {
  p {
    font-size: $textSize;
  }

  .bi.bi-tablet,
  .bi.bi-camera {
    font-size: 4em;
  }

  #left {
    h2 {
      color: black;
    }
    .bi.bi-plus,
    .bi.bi-dash {
      color: $magenta;
    }
  }

  #right,
  #left {
    p {
      margin: 0.5em 1em 0.5em 1em;
    }
  }

  #right {
    background-color: $magenta;
    color: white;
    h2 {
      color: white;
    }
    
    .bi.bi-plus,
    .bi.bi-dash {
      color: black;
    }
  }
}

#tour-image-container {
  p,
  h2 {
    color: white;
    position: relative;
    font-family: "Montserrat", sans-serif;
  }
}

#tour-image {
  width: 100%;
  height: 300px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(190, 47, 254, 0.9), rgba(64, 173, 250, 0.9));
  }
}

.tour-button {
  z-index: 999;
  position: relative;
}

/*CARDS*/

.card {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;

  .card-image {
    height: 200px;
    width: 100%;
    object-fit: cover center;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-up(sm) {
      height: 250px;
    }

    @include media-breakpoint-up(md) {
      height: 300px;
    }
  }
  h5 {
    font-size: 1.75em;
  }

  p {
    font-size: $textSize;
  }
}

.card-zoom {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5) !important;
}

//background-color: #4363BB;

//Studio guide

.icon-button {
  border-radius: 50%;
  background-color: white;
  border: 2px solid $blue;
  color: $blue;
  &:hover {
    background-color: $blue;
    border: 2px solid $blue;
    color: white !important;
  }
}

.bi.bi-lightbulb-fill {
  font-size: 1.8em;
  margin-top: 0.08em;
}


.canvas-container {
  width: 100%;
  height: 480px;
  background-color: #bbbbbb;
}