extends layout.pug
block append head
    title=  'Cupix model'
block append content
    .container
        .row 
            .main-heading.mt-3.mb-0 Cupix model
        .row 
            .d-flex.flex-row-reverse
                a(href="#info")
                    i(
                        class="bi bi-info-circle-fill"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="bottom" 
                        title="info"
            )  
        .row
            canvas(class="webgl")
        .d-flex.align-items-center.cont-up
            .h1-doc#info Info
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Used
            .flex-grow-1
                ul 
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Photogrammetry
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc 360-degree images taken with Matterport camera
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Three.js library for free
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Cupix web-app for free with limits
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Working Process
            .flex-grow-1
                ul
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc 360-degree images taken with a Matterport camera on the Metropolia Karamalmi campus
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc 360-degree images downloaded from Materport cloud and uploaded to Cupix web application
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Cupix generates automatically virtual tour and a model from pictures if selected
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Obj file downloaded from Cupix, converted to glb with a blender and used with the Three.js library
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc An html canvas element used to get a model to a webpage
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Where to use
            .flex-grow-1
                ul
                    li.d-flex
                        i(class="bi bi-lightbulb")
                        .text-doc Real estate to give a better understanding of the appartment to the potential buyer
                    li.d-flex
                        i(class="bi bi-lightbulb")
                        .text-doc Any kind of virtual tour: gallery, shop, school, workplace
                    li.d-flex
                        i(class="bi bi-lightbulb")
                        .text-doc In games
        .d-flex.align-items-center.cont-up.mb-5
            .flex-shrink-0.heading-cont
                .h2-doc Webpages
            .flex-grow-1
                ul
                    li
                        a(href="https://homes.cupix.com" class="link-primary mt-3 mb-5" alt="web link to cupix page") homes.cupix.com
                    li 
                        a(href="https://threejs.org" class="link-primary mt-3 mb-5" alt="web link to threejs page") three.js
            


