extends layout.pug
block append head
    title=  'Cupix room model'
block append content
    .container
        .row 
            .h1.mt-3.mb-0 Cupix room model
        .row 
            .d-flex.flex-row-reverse
                i(
                    class="bi bi-info-circle-fill" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="bottom" 
                    title="360-degree images taken with a Matterport camera on the Metropolia Karamalmi campus and uploaded to Cupix web application. Obj file was downloaded, converted to glb with a blender and used with the Three.js library and html canvas element to get a model to a webpage.")
        .row
            canvas(class="webgl")
        .row
            ul
                li
                    a(href="https://homes.cupix.com" class="link-primary mt-3 mb-5" alt="web link to cupix page") homes.cupix.com
                li 
                    a(href="https://threejs.org" class="link-primary mt-3 mb-5" alt="web link to threejs page") three.js
