extends layout.pug
block append head
    title=  'Home'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
block append content
    div(class="loading-bar")
    div(id="container")  
    .container.mb-5
        .row 
            .h1.mt-3.mb-0.mx-3.main-heading  Documentation
        .d-flex.align-items-center.cont-up
            .h1-doc Virtual tours
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Professional virtual tour web-apps 
            .flex-grow-1
                ul 
                    li
                        a(href="https://homes.cupix.com/" class="link-primary mt-3 mb-5" alt="web link to Cupix page") Cupix
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can generate 3D models, alternative to matterport
                    li
                        a(href="https://matterport.com" class="link-primary mt-3 mb-5" alt="web link to Matterport page") Matterport
                        ol.d-flex 
                            i(class="bi bi-plus")
                            .text-doc Superiour compaired to others
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use 
                        ol.d-flex 
                            i(class="bi bi-dash")
                            .text-doc Expencive
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Lightweight virtual tour web-apps 
            .flex-grow-1
                ul
                    li
                        a(href="https://roundme.com" class="link-primary mt-3 mb-5" alt="web link to RoundMe page") RoundMe
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Simple and easy to use
                    li
                        a(href="https://www.momento360.com" class="link-primary mt-3 mb-5" alt="web link to Momento360 page") Momento360
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Lightweight virtual tour libraries
            .flex-grow-1
                ul
                    li
                        a(href="https://pannellum.org" class="link-primary mt-3 mb-5" alt="web link to Krpano page") Pannellum
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Open source panorama viewer for the web
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use
                    li
                        a(href="https://www.marzipano.net/" class="link-primary mt-3 mb-5" alt="web link to Marzipano page") Marzipano
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Open source panorama viewer for the web
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use/fast
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Web editor
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Converts automatically sphere panorama pictures to cube pictures
                    li
                        a(href="https://pchen66.github.io/panolens.js/#Home" class="link-primary mt-3 mb-5" alt="web link to Panolens page") Panolens.js
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Lightweight virtual tour app + depthmap
            .flex-grow-1
                ul
                    li
                        a(href="https://krpano.com/home/" class="link-primary mt-3 mb-5" alt="web link to Krpano page") Krpano
                        ol Can make virtual tour from depthmaps. Use 
                            a(href="https://everpano.com/documentation" class="link-primary mt-3 mb-5" alt="web link to Everpano page") Everpano
                            |  to make dephtmaps first. Use 
                            a(href="https://der-mische.de/panocamadder/" class="link-primary mt-3 mb-5" alt="web link to Everpano page") PanocamAdder
                            |  plugin with blender to create 3D models from equirectangular panoramas (makes Obj file).
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Hard to use
        .d-flex.align-items-center.cont-up
            .h1-doc Model viewers
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc 3D model viewer web-apps
            .flex-grow-1
                ul
                    li
                        a(href="https://sketchfab.com" class="link-primary mt-3 mb-5" alt="web link to Sketchfab page") Sketchfab
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can sell your models on their webpage
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc 3D model viewer libraries
            .flex-grow-1
                 ul
                    li
                        a(href="https://threejs.org" class="link-primary mt-3 mb-5" alt="web link to Threejs page") Three.js
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Advanced level, make all yourself from scratch
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Used as a base for other panorama and model viewer libraries
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Hard to learn
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Have to write a lot of code
                    li
                        a(href="https://modelviewer.dev/" class="link-primary mt-3 mb-5" alt="web link to Model-viewer page") Model-viewer
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Web editor
        .d-flex.align-items-center.cont-up
            .h1-doc Converters
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Sphere to cube converters
            .flex-grow-1
                ul 
                    li
                        a(href="https://nadirpatch.com/sphere2cube/" class="link-primary mt-3 mb-5" alt="web link to Nadirpatch page") Nadirpatch
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc They erase uploaded pictures after 1 hour
                    li
                        a(href="https://jaxry.github.io/panorama-to-cubemap/" class="link-primary mt-3 mb-5" alt="web link to jaxry.github.io page") jaxry.github.io
                    li
                        a(href="https://github.com/matheowis/HDRI-to-CubeMap" class="link-primary mt-3 mb-5" alt="web link to Matheowis page") Matheowis
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Open source
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can choose picture quality
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Pictures won't be loaded on someone's other server
        .d-flex.align-items-center.cont-up
            .h1-doc Photo stitching software
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Panorama stitching apps
            .flex-grow-1
                ul 
                    li
                        a(href="https://www.ptgui.com" class="link-primary mt-3 mb-5" alt="web link to PTGui page") PTGui
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use, automatic
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Not for free
                    li
                        a(href="https://www.easypano.com/" class="link-primary mt-3 mb-5" alt="web link to Easypano page") Easypano
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Not for free
                    li
                        a(href="http://hugin.sourceforge.net/" class="link-primary mt-3 mb-5" alt="web link to Hugin page") Hugin
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Free 
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Hard to use
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Model stitching apps
            .flex-grow-1
                ul
                    li
                        a(href="https://alicevision.org" class="link-primary mt-3 mb-5" alt="web link to Meshroom page") Meshroom
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Free 
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Not for mac
                    li
                        a(href="https://www.capturingreality.com/" class="link-primary mt-3 mb-5" alt="web link to Capturingreality page") Capturingreality
        .d-flex.align-items-center.cont-up
            .h1-doc Cameras
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Popular 3D auto stitching cameras
            .flex-grow-1
                ul 
                    li.bolder-text Yi
                    li.bolder-text Insta360 One
                    li.bolder-text Mi Sphere
                    li.bolder-text Qoocam
                    li.bolder-text Fusion
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc 360 cameras we used
            .flex-grow-1
                 ul 
                    li.bolder-text Carmin Virb 
                    ol.d-flex
                        i(class="bi bi-dash")
                        .text-doc no auto stitching
                    li.bolder-text Matterport pro2
                    ol.d-flex
                        i(class="bi bi-plus")
                        .text-docauto stitching

    