extends layout.pug
block append head
    title=  'Home'
block append content
    div(class="loading-bar")
    div(id="container")  
    .container.mb-5#doc-info
        .row 
            .h1.mt-3.mb-0.mx-3.main-heading  Documentation
        .d-flex.align-items-center.cont-up#appsForMobile
            .h1-doc Apps for mobile
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Photogrammetry
            .flex-grow-1
                ul 
                    li
                        a(href="https://www.qlone.pro" class="link-primary mt-3 mb-5" alt="web link to Qlone page") Qlone
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Mobile app for Android/iOS for free with limits
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can make good looking 3D models around and under
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can generate animations and has AR functionality
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Needs right size printed Qlone mat under the object
                    li
                        a(href="https://lvonasek.github.io" class="link-primary mt-3 mb-5" alt="web link to Qlone page") 3D Live Scanner
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Mobile app for Android for free with advertisements, early access
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Quite promising application, result depends of the phone camera features. Can get better results if a phone has a ToF sensor
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc VR view
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc LiDAR
            .flex-grow-1
                ul 
                    li
                        a(href="https://scaniverse.com" class="link-primary mt-3 mb-5" alt="web link to Scaniverse page") Scaniverse
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Mobile scanner app for iOS, free
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc AR view
                        ol.d-flex
                            i(class="bi bi-plus-slash-minus")
                            .text-doc Can scan little details, but not completely
                    li
                        a(href="https://3dscannerapp.com" class="link-primary mt-3 mb-5" alt="web link to 3D Scanner App page") 3D Scanner App
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Mobile scanner app for iOS, free with limits
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can get good results with larger objects
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Good inside app editor for trimming the model
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc AR view
                    li
                        a(href="https://sitescape-test.webflow.io" class="link-primary mt-3 mb-5" alt="web link to 3D Sitescape page") Sitescape
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Mobile scan app for iOS, free with limits
                        ol.d-flex
                            i(class="bi bi-plus-slash-minus")
                            .text-doc Big files and very slow, but can choose quality and point-size to minimize the file size
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Point-cloud data only
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Both Photogrammetry and LiDAR
            .flex-grow-1
                ul 
                    li
                        a(href="https://poly.cam/" class="link-primary mt-3 mb-5" alt="web link to Polycam page") Polycam
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Mobile app for iOS for free with limits
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Very good LiDAR scan results with big objects
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Cuts out small elements on Lidar scans, good, when don't want "noise" on the scan
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can get good results with photogrammetry when photsos taken around the object, good for AR
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can continue scan later by extending it
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Result can be unexpexted, when trying to have a wholesome model, around and down parts
                    li
                        a(href="https://metascan.ai" class="link-primary mt-3 mb-5" alt="web link to 3D Metascan page") Metascan
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Mobile scan app for iOS free with limits
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can capture smaller details, but not very clearly
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Good inside app trimming editor for liDAR scan
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Good results with photogrammetry, but more suitable for AR
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc AR view
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc TrueDepth
            .flex-grow-1
                ul 
                    li
                        a(href="https://www.standardcyborg.com" class="link-primary mt-3 mb-5" alt="web link to Capture app page") Capture: 3D Scan Anything
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Mobile app for iOS, free
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Very good results with small and detailed objects
                        ol.d-flex
                            i(class="bi bi-plus-slash-minus")
                            .text-doc Exports point-cloud data
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc USDZ file data comes without colors/textures
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Hard to scan objects with only front camera
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc AR view, but not very useful
                    li
                        a(href="https://em3dscanningapp.com/contact/" class="link-primary mt-3 mb-5" alt="web link to EM3D app page") EM3D: Ethan Makes 3D Scanner
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Mobile app for iOS, free with limits
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Good results with small and detailed objects
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Generates point-cloud data automatically into mesh data
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can export different file types
                        ol.d-flex
                            i(class="bi bi-plus-slash-minus")
                            .text-doc Hard to scan objects with only front camera, but there is a solution for that. Use their EM3D: Mirror Saver app with a second phone as a second screen and scan objects by holding the devices back to back and see what you're scanning
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Augmented Reality
            .flex-grow-1
                ul 
                    li
                        a(href="https://mywebar.com" class="link-primary mt-3 mb-5" alt="web link to MyWebAr page") MyWebAr
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Web-app, free with limits
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy interface to use 3D models to create AR content with QR code
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Comes with ready to use templates
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Has easy to follow tutorials
        .d-flex.align-items-center.cont-up#fileFormats
            .h1-doc Common file formats
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Mesh data formats
            .flex-grow-1
                ul 
                    li
                        a(href="https://docs.fileformat.com/3d/gltf/" class="link-primary mt-3 mb-5" alt="web link to glTF file format page") glTB
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Open 3D format for the web (JSON/ASCII)
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Standard for the web 3D models
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Small size
                    li
                        a(href="https://docs.fileformat.com/3d/glb/" class="link-primary mt-3 mb-5" alt="web link to glTF file format page") GLB
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Open 3D format for the web (binary glTF)
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Standard for the web 3D models
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Small size
                    li
                        a(href="https://docs.fileformat.com/3d/usdz/" class="link-primary mt-3 mb-5" alt="web link to USD file format page") USDZ
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Best for Arkit and sharing to iphones
                    li
                        a(href="https://en.wikipedia.org/wiki/STL_(file_format)" class="link-primary mt-3 mb-5" alt="web link to stl format wikipedia page") STL
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Untextured file used in 3D printing
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Point-cloud data formats
            .flex-grow-1
                ul 
                    li
                        a(href="https://en.wikipedia.org/wiki/XYZ_file_format" class="link-primary mt-3 mb-5" alt="web link to XYZ format wikipedia page") XYZ
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Chemical file format
                    li
                        a(href="https://en.wikipedia.org/wiki/LAS_file_format" class="link-primary mt-3 mb-5" alt="web link to LAS format wikipedia page") LAS
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Georeferenced color point-cloud, designed for the interchange and archiving of lidar point cloud data
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Open binary format
                    li  
                        a(href="https://docs.fileformat.com/3d/e57/" class="link-primary mt-3 mb-5" alt="web link to E57 file format page") E57
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Vendor-neutral file format that is used for storing and exchange of three-dimensional imaging data   
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Both Mesh and Point-cloud data formats
            .flex-grow-1
                ul 
                    li
                        a(href="https://docs.fileformat.com/3d/ply/" class="link-primary mt-3 mb-5" alt="web link to PLY file format page") PLY
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc High-density color point-cloud 
                    li
                        a(href="https://docs.fileformat.com/3d/obj/" class="link-primary mt-3 mb-5" alt="web link to object format file foramt page") OBJ
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Text-based 3D model format
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc well supported
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Large file size
                    li
                        a(href="https://docs.fileformat.com/3d/fbx/" class="link-primary mt-3 mb-5" alt="web link FBX file format page") FBX
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Supported by most software and game engines
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Large file size
        .d-flex.align-items-center.cont-up#modelViewers
            .h1-doc Model viewers
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc 3D model viewer web-apps
            .flex-grow-1
                ul
                    li
                        a(href="https://sketchfab.com" class="link-primary mt-3 mb-5" alt="web link to Sketchfab page") Sketchfab
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can sell your models on their webpage
                    li
                        a(href="https://clara.io" class="link-primary mt-3 mb-5" alt="web link to Clara.io page") clara.io
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Advanced editor
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc A lot of functionalities
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Not so easy to understand interface
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Viewer won't show hotspots with embed iframe
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Viewer navigation won't work well in different browsers
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc 3D model viewer libraries
            .flex-grow-1
                 ul
                    li
                        a(href="https://threejs.org" class="link-primary mt-3 mb-5" alt="web link to Threejs page") Three.js
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Advanced level, make all yourself from scratch
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Used as a base for other panorama and model viewer libraries
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Hard to learn
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Have to write a lot of code
                    li
                        a(href="https://www.babylonjs.com" class="link-primary mt-3 mb-5" alt="web link to babylonjs page") babylon.js
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Advanced level, make all yourself from scratch
                    li
                        a(href="https://modelviewer.dev/" class="link-primary mt-3 mb-5" alt="web link to Model-viewer page") Model-viewer
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Web editor
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Online 3D model viewers for testing
            .flex-grow-1
                ul
                    li
                        a(href="https://gltf-viewer.donmccurdy.com" class="link-primary mt-3 mb-5" alt="web link to Gltf-viewer page") Gltf-viewer
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc With git reprosity 
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Has a lot of control parameters for testing
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Accepts only glTF/GLB file format
                    li
                        a(href="https://www.3dviewer.net/index.html" class="link-primary mt-3 mb-5" alt="web link to 3dviewer page") 3dviewer
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Accepts a lot of formats
                    li
                        a(href="https://modelviewer.dev/editor/" class="link-primary mt-3 mb-5" alt="web link to Model-viewer editor page") Model-viewer editor
                        ol.d-flex
                            i(class="bi bi-plus-slash-minus")
                            .text-doc More useful for a quick view
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Accepts only glTF/GLB file format
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc 3D model viewer apps/file converters
            .flex-grow-1
                ul
                    li
                        a(href="https://www.blender.org" class="link-primary mt-3 mb-5" alt="web link to Blender page") Blender
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can import and export different formats like OBJ, DAE, PLY, GLB ...
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Clean up virtual models
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can create difficult 3D sculptures and animations
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Free to use
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Hard to learn
                    li
                        a(href="https://www.meshlab.net/#description" class="link-primary mt-3 mb-5" alt="web link to Meshlab page") Meshlab
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can import and export different formats like OBJ, DAE, PLY ...
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Clean up virtual models
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can generate mesh data from point-cloud
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Free to use
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Can't export GLB
                    li
                        a(href="https://developer.apple.com/xcode/" class="link-primary mt-3 mb-5" alt="web link to Apple xcode app page") Xcode
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can open USDZ files, which is developed by Apple and Pixar Animation Studios
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can export different formats like OBJ, DAE ...
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Free to use
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Only for Mac 
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Can't export GLBT/GLD file format
        .d-flex.align-items-center.cont-up#virtualTours
            .h1-doc Virtual tours
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Professional virtual tour web-apps 
            .flex-grow-1
                ul 
                    li
                        a(href="https://homes.cupix.com/" class="link-primary mt-3 mb-5" alt="web link to Cupix page") Cupix
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can generate 3D models, alternative to Matterport
                    li
                        a(href="https://www.metareal.com" class="link-primary mt-3 mb-5" alt="web link to Metareal page") Metareal
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can ceate 3D models from depth maps, alternative to Matterport
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can use any 360 images to create virtual tours
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can customise content through SDK 
                        ol.d-flex 
                            i(class="bi bi-dash")
                            .text-doc Takes time to learn how to use the editor
                        ol.d-flex 
                            i(class="bi bi-dash")
                            .text-doc Not always working in Safari
                    li
                        a(href="https://matterport.com" class="link-primary mt-3 mb-5" alt="web link to Matterport page") Matterport
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use 
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc High quality model and virtual our automatically
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Only works with certain cameras
                        ol.d-flex 
                            i(class="bi bi-dash")
                            .text-doc Expensive: subscription plan, exports need to be purchased separately, using Showcase SDK requires production license
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc There is a free plan to try, but it's practically useless, as it doesn't even allow uploading scans created with Matterport camera to Matterport cloud
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Lightweight virtual tour web-apps 
            .flex-grow-1
                ul
                    li
                        a(href="https://roundme.com" class="link-primary mt-3 mb-5" alt="web link to RoundMe page") RoundMe
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Simple and easy to use
                    li
                        a(href="https://www.momento360.com" class="link-primary mt-3 mb-5" alt="web link to Momento360 page") Momento360
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Lightweight virtual tour libraries
            .flex-grow-1
                ul
                    li
                        a(href="https://pannellum.org" class="link-primary mt-3 mb-5" alt="web link to Krpano page") Pannellum
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Open source panorama viewer for the web
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use
                    li
                        a(href="https://www.marzipano.net/" class="link-primary mt-3 mb-5" alt="web link to Marzipano page") Marzipano
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Open source panorama viewer for the web
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use/fast
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Web editor
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Converts automatically sphere panorama pictures to cube pictures
                    li
                        a(href="https://pchen66.github.io/panolens.js/#Home" class="link-primary mt-3 mb-5" alt="web link to Panolens page") Panolens.js
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Lightweight virtual tour app + depth map
            .flex-grow-1
                ul
                    li
                        a(href="https://krpano.com/home/" class="link-primary mt-3 mb-5" alt="web link to Krpano page") Krpano
                        ol Can make virtual tour from depthmaps. Use 
                            a(href="https://everpano.com/documentation" class="link-primary mt-3 mb-5" alt="web link to Everpano page") Everpano
                            |  to make dephtmaps first. Use 
                            a(href="https://der-mische.de/panocamadder/" class="link-primary mt-3 mb-5" alt="web link to Everpano page") PanocamAdder
                            |  plugin with blender to create 3D models from equirectangular panoramas (makes Obj file).
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Have to understand their code and have some coding skills, if one wants to do something more difficult than panorama viewer
        .d-flex.align-items-center.cont-up#converters
            .h1-doc Converters
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Sphere to cube converters
            .flex-grow-1
                ul 
                    li
                        a(href="https://nadirpatch.com/sphere2cube/" class="link-primary mt-3 mb-5" alt="web link to Nadirpatch page") Nadirpatch
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc They erase uploaded pictures after 1 hour
                    li
                        a(href="https://jaxry.github.io/panorama-to-cubemap/" class="link-primary mt-3 mb-5" alt="web link to jaxry.github.io page") jaxry.github.io
                    li
                        a(href="https://github.com/matheowis/HDRI-to-CubeMap" class="link-primary mt-3 mb-5" alt="web link to Matheowis page") Matheowis
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Open source
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Can choose picture quality
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Pictures won't be loaded on someone's other server 
        .d-flex.align-items-center.cont-up#photoStiching
            .h1-doc Photo stitching software
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Panorama stitching apps
            .flex-grow-1
                ul 
                    li
                        a(href="https://www.ptgui.com" class="link-primary mt-3 mb-5" alt="web link to PTGui page") PTGui
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to use, automatic
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Not free
                    li
                        a(href="https://www.easypano.com/" class="link-primary mt-3 mb-5" alt="web link to Easypano page") Easypano
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Not free
                    li
                        a(href="http://hugin.sourceforge.net/" class="link-primary mt-3 mb-5" alt="web link to Hugin page") Hugin
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Free 
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Hard to use, needs more deeper understanding of photography
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Photogrammetry software
            .flex-grow-1
                ul
                    li
                        a(href="https://alicevision.org" class="link-primary mt-3 mb-5" alt="web link to Meshroom page") Meshroom
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc High quality result 
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc Easy to start with, but fully customisable settings for advanced users
                        ol.d-flex
                            i(class="bi bi-plus")
                            .text-doc A lot of high quality information about photogrammetry pipeline
                        ol.d-flex
                            i(class="bi bi-dash")
                            .text-doc Requires NVIDIA CUDA-enabled GPU and is only available for Windows and Linux 
                    li
                        a(href="https://www.capturingreality.com/" class="link-primary mt-3 mb-5" alt="web link to Capturingreality page") Capturingreality
        .d-flex.align-items-center.cont-up#cameras
            .h1-doc Cameras
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Popular 3D auto stitching cameras
            .flex-grow-1
                ul 
                    li.bolder-text Yi
                    li.bolder-text Insta360 One
                    li.bolder-text Mi Sphere
                    li.bolder-text Qoocam
                    li.bolder-text Fusion
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc 360 cameras we used
            .flex-grow-1
                 ul 
                    li.bolder-text Garmin Virb 
                    ol.d-flex
                        i(class="bi bi-plus")
                        .text-doc Auto stitching
                    li.bolder-text Matterport Pro2
                    ol.d-flex
                        i(class="bi bi-plus")
                        .text-doc Auto stitching
                    ol.d-flex
                        i(class="bi bi-plus")
                        .text-doc Really simple and fast to use
                    ol.d-flex
                        i(class="bi bi-plus")
                        .text-doc Outcome is professional
                    ol.d-flex
                        i(class="bi bi-plus")
                        .text-doc Automatic model and virtual tour generation
                    ol.d-flex
                        i(class="bi bi-dash")
                        .text-doc Works only with the Matterport mobile app and requires Matterport subscription
                    ol.d-flex
                        i(class="bi bi-dash")
                        .text-doc Matterport cameras are supported only with Matterport cloud professional plan
                    ol.d-flex
                        i(class="bi bi-dash")
                        .text-doc Can't get hight quality 360-degree pictures out from the cloud
                    ol.d-flex
                        i(class="bi bi-dash")
                        .text-doc Inside app purchaches for each virtual tour seperatly, even for the 3D model

    