extends layout.pug
block append head
  title=  'Home'
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
block append content
  i(
    class="bi bi-arrow-up-square-fill"
    id="up-button"
  )  
  .container-fluid.m-0.p-0(class="loading-bar")
    .row.m-0.p-0.g-0(id="container") 
      .col-md-8#heading-text.d-flex.flex-column.align-items-center.py-4.px-md-3
        .col
          h1.px-3.py-3.text-center CREATING AND UTILIZING VIRTUAL MODELS AND TOURS ON WEB PAGE
        .col-md-8.d-flex.flex-column.align-items-center.mb-4
          p.px-3.text-pos.text-center The aims of this project were to explore 3D imaging technologies and to demonstrate how 3D content can be used on the web. 
          a.btn.btn-outline-light.fw-normal#main-btn(href='#about', role='button') READ MORE
  .container-md#about
    .row.my-4
      .col 
        h1.text-center About
    .row.row-cols-1.row-cols-md-2.bg-light.px-3.pt-5
      .col.d-flex.flex-column
        i(class="bi bi-badge-3d")
        h2.pb-2 Comparison of 3D models  
        p.px-md-3 We scanned the media lab using both LiDAR scanner and Matterport to compare the process and outcome. We also discuss possible use cases for both techniques. 
      .col.d-flex.flex-column
        i(class="bi bi-arrow-repeat")
        h2.pb-2 Creating virtual tours  
        p.px-md-3 We created a virtual tour of Karamalmi campus and a guide of media lab usage. We tested several 360 panorama and virtual tour applications.
    .row.row-cols-1.row-cols-md-2.bg-light.px-3.pb-5
      .col.d-flex.flex-column
        i(class="bi bi-images")
        h2.pb-2 Testing photogrammetry
        p.px-md-3 We tried photogrammetry of an object to see how the result compares to LiDAR scans. 
      .col.d-flex.flex-column
        i(class="bi bi-compass")
        h2.pb-2 Testing VimAI
        p.px-md-3 We tested VimAI, an image-based indoor navigation application.           
  .container-md#home-container
    .row.my-4
      .col 
        h1.text-center 3D models: Media lab
    .row.row-cols-1.row-cols-md-2
      .col.bg-light.d-flex.flex-column.align-items-center.py-5#left
        i.bi.bi-tablet.pb-2 
        h2 LiDAR
        p.text-center A 3D model of the studio created with Scaniverse scanner app on iPad Pro 2020.
        ul 
          li.d-flex 
            i(class="bi bi-plus")
            span.text-doc Easy and relatively fast
          li.d-flex 
            i(class="bi bi-plus")
            span.text-doc Exportable model (mesh and point cloud)
          li.d-flex 
            i(class="bi bi-plus")
            span.text-doc Suitable for outdoor scans
          li.d-flex 
            i(class="bi bi-dash")
            span.text-doc Inaccurate details and lines
           
        a.btn.magenta-outline.fw-normal#btn-left(href='studioLidar.html', role='button') VIEW 3D MODEL                        
      .col.d-flex.flex-column.align-items-center.py-5#right
        i.bi.bi-camera.pb-2
        h2 Matterport
        p.text-center A 3D model and a virtual tour of the studio created with Matterport Pro2 3D camera.
        ul 
          li.d-flex 
            i(class="bi bi-plus")
            span.text-doc Fast and easy
          li.d-flex 
            i(class="bi bi-plus")
            span.text-doc Fairly accurate details compared to LiDAR
          li.d-flex 
            i(class="bi bi-plus")
            span.text-doc Also creates a virtual tour automatically
          li.d-flex 
            i(class="bi bi-dash")
            span.text-doc Expensive and limiting 
        a.btn.btn-outline-light.fw-normal#btn-right(href='studioMP.html', role='button') VIEW 3D MODEL
    .row.mt-4
  .container-md#tour-container.mb-5
    .row.my-4
      .col 
        h1.text-center Karamalmi campus virtual tour
    .row#tour-image-container
      .col#tour-image.d-flex.justify-content-center.align-items-center
        .col-md-8.d-flex.flex-column.justify-content-center.align-items-center
          h2.fs-4.text-center.fw-bold A virtual tour and a 3D model of Karamalmi campus
          p.text-center Created with Matterport Pro2 3D camera
          a.btn.btn-outline-light.tour-button(href='matterport.html', role='button') View virtual tour
 
     

      
 
  
        
