extends layout.pug
block append head
  title='3D Models'
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
block append content
  .container
    .row
      .col
        .h1.mt-3.mb-0.mx-3.main-heading 3D Models
    .row
      .col.mx-3.mt-3
       .btn-group.btn-group-sm(aria-label='Basic example')
          button#models-btn.btn.blue-outline.blue-btn-active(type='button') All
          button#lidar-btn.btn.blue-outline(type='button') Lidar
          button#photogrammetry-btn.btn.blue-outline(type='button') Photogrammetry
    .row.row-cols-1.row-cols-lg-2.cards-container.animate__fadeIn.mb-5

    