extends layout.pug
block append head
  title='3D Models'
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
block append content
  .container
    .row
      .col
        .h1.mt-3.mb-0.mx-3.main-heading 3D Models
    .row.row-cols-1.row-cols-lg-2.g-4.cards-container.animate__fadeIn.mb-5
      
    