extends layout.pug
block append head
    title=  'Qlone model'
block append content
    .container
        .row 
            .h1.mt-3.mb-0 Qlone model
        .row 
            .d-flex.flex-row-reverse
                i(
                    class="bi bi-info-circle-fill" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="bottom" 
                    title="3d elephant figure made with Qlone mobile app and Android phone using photogrammetria, obj file converted to glb and used threejs library to get the figure on the web-page")
        .row
            canvas(class="webgl")
        .row
            a(href="https://www.qlone.pro" class="link-primary mt-3 mb-5" alt="web link to qlone page") qlone.pro
