extends layout.pug
block append head
    title=  'Three.js'
block append content
    .container
        .row 
            .h1.mt-3.mb-0 Three.js
        .row 
            .d-flex.flex-row-reverse
                i(
                    class="bi bi-info-circle-fill" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="bottom" 
                    title="A 3D unicorn figure made using photogrammetry with the Qlone mobile app and Android phone. An glb file sent to a computer that is used with the Three.js library and html canvas element to get a drawing to a webpage.")
        .row
            canvas(class="webgl")
        .row
            ul 
                li
                    a(href="https://www.qlone.pro" class="link-primary mt-3 mb-5" alt="web link to qlone page") qlone.pro
                li
                    a(href="https://threejs.org" class="link-primary mt-3 mb-5" alt="web link to threejs page") three.js
