extends layout.pug
block append head
    title=  'Three.js'
block append content
    .container
        .row 
            .main-heading.mt-3.mb-0 Three.js
        .row 
            .d-flex.flex-row-reverse
                a(href="#info")
                    i(
                        class="bi bi-info-circle-fill"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="bottom" 
                        title="info"
                    )   
        .row
            canvas(class="webgl")
        .d-flex.align-items-center.cont-up
            .h1-doc#info Info
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Used
            .flex-grow-1
                ul 
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Photogrammetry
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Qlone mobile app for Android/ios for free with limits
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Printed out Qlone mat, size A2
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Three.js library for free
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Working Process
            .flex-grow-1
                ul
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc A 3D unicorn figure made using photogrammetry with the Qlone mobile app and Android phone.
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc An glb file sent to a computer that is used with the Three.js library.
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Used html canvas element to get a drawing to a webpage.
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Where to use
            .flex-grow-1
                ul
                    li.d-flex
                        i(class="bi bi-lightbulb")
                        .text-doc Online stores to present the product and give a better idea of the product.
                    li.d-flex
                        i(class="bi bi-lightbulb")
                        .text-doc Make a 3D game
                    li.d-flex
                        i(class="bi bi-lightbulb")
                        .text-doc Make webpage more interactive
        .d-flex.align-items-center.cont-up.mb-5
            .flex-shrink-0.heading-cont
                .h2-doc Webpages
            .flex-grow-1
                ul 
                    li
                        a(href="https://www.qlone.pro" class="link-primary mt-3 mb-5" alt="web link to qlone page") qlone.pro
                    li
                        a(href="https://threejs.org" class="link-primary mt-3 mb-5" alt="web link to threejs page") three.js