extends layout.pug
block append head
    title=  'Roundme'
block append content
  .container
    .row 
      .main-heading.mt-3.mb-0 Roundme
    .row 
      .d-flex.flex-row-reverse
        a(href="#info")
          i(class="bi bi-info-circle-fill")  
    .row
        iframe(
            width='960' 
            height='540' 
            src='https://roundme.com/embed/781475/2464336' 
            frameborder='0' 
            webkitallowfullscreen 
            mozallowfullscreen 
            allowfullscreen
        )
    .d-flex.align-items-center.cont-up
      .h1-doc#info Info
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Used
      .flex-grow-1
        ul 
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Lightweight virtual tour experience
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc 360-degree images taken with Carmin Virb camera
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Roundme web-app for free with limits
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Working Process
      .flex-grow-1
        ul
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc A virtual tour taken with a Garmin Virb 360 camera in Kalasatama skate park
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc 360-degree pictures uploaded to Roundme web-app
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Added connections and info in Roundme web-app
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Published the tour
          li.d-flex
            i(class="bi bi-arrow-right")
            .text-doc Iframe link added to the website.
    .d-flex.align-items-center.cont-up
      .flex-shrink-0.heading-cont
        .h2-doc Where to use
      .flex-grow-1
        ul
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc Real estate to give a better understanding of the appartment to the potential buyer
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc Any kind of lightweight virtual tour: gallery, shop, school, workplace
          li.d-flex
            i(class="bi bi-lightbulb")
            .text-doc Social aspect, share places you have visited with others 
    .d-flex.align-items-center.cont-up.mb-5
      .flex-shrink-0.heading-cont
        .h2-doc Webpages
      .flex-grow-1
        ul 
          li
            a(href="https://roundme.com" class="link-primary mt-3 mb-5" alt="web link to roundme page") roundme.com
    