extends layout.pug
block append head
    title=  'Photogrammetry'
block append content
    .container
        .row 
            .main-heading.mt-3.mb-0 Three.js
        .row 
            .d-flex.flex-row-reverse
                a(href="#info")
                    i(
                        class="bi bi-info-circle-fill"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="bottom" 
                        title="info"
                    )   
        .row.canvas-container.g-0
            canvas(class="webgl")
        .d-flex.align-items-center.cont-up
            .h1-doc#info Info
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Used
            .flex-grow-1
                ul 
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc 50 images taken with iPhone SE
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Meshroom, an open-source 3D reconstruction software by AliceVision Association
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc Three.js
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Working Process
            .flex-grow-1
                ul
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc 50 images of an object were taken from different angles without moving the object
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc.d-inline-block Images were converted to .jpg format and uploaded to Meshroom for reconstruction. The exact process is described in Meshroom's photogrammetry 
                          a.text-wrap(href="https://alicevision.org/#photogrammetry", target="__blank") pipeline 
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc The resulting mesh was cleaned-up in Blender
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc 3D model is renderd using ThreeJS 
                    li.d-flex
                        i(class="bi bi-arrow-right")
                        .text-doc.d-inline-block There is a better version of this on 
                          a.text-wrap(href="https://sketchfab.com/3d-models/candle-c430c6d0120c4ad18f80a912b05fd84a", target="__blank") Sketchfab       
        .d-flex.align-items-center.cont-up
            .flex-shrink-0.heading-cont
                .h2-doc Where to use
            .flex-grow-1
                ul
                    li.d-flex
                        i(class="bi bi-lightbulb")
                        .text-doc Studying and experimenting with photogrammetry
                    li.d-flex
                        i(class="bi bi-lightbulb")
                        .text-doc Cultural and artistic projects
                    li.d-flex
                        i(class="bi bi-lightbulb")
                        .text-doc Can get professional results with DSLR camera and more advanced 3D editing skills
        .d-flex.align-items-center.cont-up.mb-5
            .flex-shrink-0.heading-cont
                .h2-doc Webpages
            .flex-grow-1
                ul 
                    li
                        a(href="https://alicevision.org/" class="link-primary mt-3 mb-5" alt="web link to qlone page") https://alicevision.org/
                    li
                        a(href="https://threejs.org" class="link-primary mt-3 mb-5" alt="web link to threejs page") three.js