extends layout.pug
block append head
  title='Virtual Tours'
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
block append content
  .container
    .row
      .col
        .h1.mt-3.mb-0.mx-3.main-heading Virtual Tours
    .row
      .col.mx-3.mt-3
       .btn-group.btn-group-sm(role='group', aria-label='Basic example')
          button#tours-btn.btn.blue-outline.blue-btn-active(type='button') All
          button#virtual-tours-btn.btn.blue-outline(type='button') Virtual tours
          button#panoramas-btn.btn.blue-outline(type='button') Panoramas
    .row.row-cols-1.row-cols-lg-2.cards-container.mb-5